# Logs
*.log

# Env
.env

# Build directories
dist/*
!dist/.gitkeep
www/assets
!www/.gitkeep
!/www/views

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/
